body {
    margin: 0;
}

.header {
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
a{
    text-decoration-line: none;
}
.hck_logo_header {
    padding-top: 15px;
    padding-left: 20px;
    width: 270px;
}

.header_link {
    display: inline;
    margin-left: 120px;
}

.next_page {
    font-size: 20px;
    color: rgba(51, 51, 51, 255);
    text-decoration: none;
    margin: 20px;
}

.next_page:hover {
    background-color: rgba(116, 192, 67, 255);
}

.header_separator {
    padding: 2px;
    background-color: rgba(51, 51, 51, 255);
}

/* Up to Header Section*/

.partnership {
    width: 49%;
    margin: 40px auto;
}

.uni_logo {
    float: left;
    width: 280px;
    margin-top: 10px;
}

.handshake {
    float: left;
    width: 120px;
    margin: 50px 20px 0 5px ;
}

.college_logo {
    float: left;
    width: 280px;
}


/* Upto handshake Section*/

.cover_image {
    object-fit: cover;
    width: 100%;
    height: 550px;
}

.courses {
    margin: 60px auto;
    width: 50%;
}

.course_title,
.method_title,
.completion_title {
    color: rgba(51, 51, 51, 255);
    border-bottom: 4px solid rgba(51, 51, 51, 255);
    text-align: center;
    margin-bottom: 60px;
}

.course {
    background-color: rgba(116, 192, 67, 255);
    text-align: center;
    margin-bottom: 20px;
}

.course_name {
    color: rgba(51, 51, 51, 255);
    font-size: 80px;
    margin: 0;
    padding: 20px 0px;
}

.sub_course_name {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 0px;
    background-color: rgba(51, 51, 51, 255);
    font-size: 20px;
    margin: 0;
}

/* Up to All Courses */

/* main_title is used in coure_title */
.image {
    margin: 0 20px;
    width: 30%;
}

.image_subtitle {
    display: inline-block;
    width: 30%;
    margin: 0 20px;
}

/* Up to Methology */

/* completion_title is used in coure_title */
.onCompleted {
    margin: auto;
    width: 90%;
}

.first_achievement {
    margin: 20px;
    display: inline-block;
    font-size: 18px;
    color: whitesmoke;
    background-color: rgba(116, 192, 67, 255);
    padding: 30px;
    width: 40%;
}

.second_achievement {
    margin: 20px;
    display: inline-block;
    font-size: 18px;
    color: whitesmoke;
    background-color: rgba(51, 51, 51, 255);
    padding: 30px;
    width: 40%;
}
/* Icons on the After Complition*/
.material-icons.md-48{
    font-size:80px;
    float:right;
    position: relative;
    bottom: 50px;
}
.fa.fa-graduation-cap{
    font-size: 80px;
    float:right;
    position: relative;
    bottom: 50px;
}
.fa.fa-certificate{
    font-size: 80px;
    float:right;
    position: relative;
    bottom: 50px;
}
.fa.fa-users{
    font-size: 80px;
    float:right;
    position: relative;
    bottom: 50px;
}

/* Up to On Completed */

.footer {
    color: whitesmoke;
    padding: 10px;
    background-color: rgba(51, 51, 51, 255);
}

.copyright {
    margin-left: 100px;
    margin-top: 25px;
    display: inline-block;
}

.social_media {
    float: right;
    margin-right: 50px;
}

.social {
    float: inline-start;
}
.facebook {
    margin-top: 5px;
}
.twitter {
    margin-right: 10px;
}
.linkedin {
    margin-right: 15px;
}
.insta {
    margin-top: 10px;
}


